/*wsui-shadow-on-scroll Start*/
// https://stijndewitt.com/2018/06/12/pure-css-drop-shadow-on-scroll/
// https://codepen.io/StijnDeWitt/pen/LryNxa

.wsui-shadow-on-scroll {
  --wsui-opts-sos-height: 80px;
  --wsui-opts-sos-distance: 16px;
  --wsui-opts-sos-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  --wsui-opts-sos-cover: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);

  height: var(--wsui-opts-sos-height);
  position: sticky;

  top: calc(var(--wsui-opts-sos-distance) * -1);
  z-index: 1;
  -webkit-backface-visibility: hidden;

  /* PSEUDO ELEMENTS to create drop-shadow */
  &::before,
  &::after {
    content: "";
    display: block;
    height: var(--wsui-opts-sos-distance);
    /* make pseudo elements sticky as well */
    position: sticky;
  }

  /* SHADOW */
  &::before {
    top: calc(var(--wsui-opts-sos-height) - var(--wsui-opts-sos-distance) * 2);
    /* shadow is at bottom of element, so at 48 + 16 = 64px */
    box-shadow: var(--wsui-opts-sos-shadow);
  }

  /* COVER */
  &::after {
    /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
    background: var(--wsui-opts-sos-cover);
    top: 0;
    /* cover should fall over shadow */
    z-index: 2;
  }

  & .is-toolbar {
    height: calc(var(--wsui-opts-sos-height) - var(--wsui-opts-sos-distance));
    position: sticky;
    top: 0px;
    /* compensate for shadow with negative margin */
    margin-top: calc(var(--wsui-opts-sos-distance) * -1);
    /* content should fall over shadow and cover */
    z-index: 3;
  }
}
/*wsui-shadow-on-scroll End*/
